@import 'bourbon';
@import 'normalize';
@import url(http://fonts.googleapis.com/css?family=Oswald:300);

$colorRed : #cf032b;

html {
	background: #000;
	color: #fff;
	font-family: helvetica neue, helvetica, arial, sans-serif;
}

html {
	background: #000 url(../img/body.jpg) no-repeat top center;
}

html.home-tab  {
	background: #000 url(../img/body-home.jpg) no-repeat top center;
}

body {
	background: transparent;
	max-width: 1080px;
	width: 1080px;
	margin: 0 auto;
}

input[type="text"] {
	@include box-sizing(border-box);
}

.header p {
	
}

.hgroup {
	@include hide-text;
}

.assistive-text {
	@include hide-text;
}

.main {
	padding: 0 15px;
}

#formLogin {
	margin: 257px 0 0 0;
	background: #fff;
	color: #000;
	padding: 20px 0;

	td {
		width: 43px;
		vertical-align: bottom;


		label,
		input {
			width: 100%;
		}
	}

	.user,
	.password {
		width: 380px;

		input {
			border: 2px solid #a7a9ac;
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
			border-radius: 4px;
		}

		a {
			color: $colorRed;
			font-size: .8em;
			padding: 0 0 0 1em;
		}
	}

	.submit {
		width: 126px;

		input {
			background: $colorRed;
			border: none;
			-webkit-appearance: none;
			color: #fff;
			text-transform: uppercase;
			height: 30px;
			line-height: 30px;
			padding: 0;
			@include transition (all 0.2s  ease-in-out);

			&:hover {
				background: #000;
			}
		}
	}

	.message {
		font-size: .8em;
	}
}

.tabs {
	display: table;
	width: 100%;
	margin: 0;
	background: $colorRed;
	padding: 0;

	li {
		display: table-cell;
		text-align: center;
		padding: 10px 0;
	}

	a {
		display: block;
		border-right: 1px solid #e5576a;
		text-decoration: none;
		color: #fff;
		font-size: 16px;
		background: transparent;


	}

	span {
		border-bottom: 2px solid transparent;
		@include transition (all 0.2s  ease-in-out);
	}
	
	li:hover span,
	li.active span {
		border-bottom: 2px solid #fff;
	}

	li:last-child a {
		border-right: none;
	}
}

.js .tab_content {
	display: none;
}

#tab1 {
	display: block;

	.letter {
		margin: 300px 0 0 0;
		padding: 0 0 0 5px;
		max-width: 500px;
	}

	.remark {
		@include hide-text;
	}

	.signature {
		@include hide-text;
		background: url(../img/signature.png) no-repeat;
		width: 202px;
		height: 179px;
	}
}

.main-footer {
	padding: 20px 0;
}
.footer-link a {
	@include hide-text;
	display: block;
	background: url(../img/footer-link.png) no-repeat;
	width: 189px;
	height: 104px;
	margin: 0 auto;
}
.countdown {
	display: none;
	
	background: url(../img/countdown.jpg) no-repeat;
	width: 100%;
	height: 111px;
	margin: 20px 0;
	position: relative;
	font-size: 43px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	line-height: 100%;
	font-weight: 300;

	.kkcountdown-box span {
		position: absolute;
		top: 20px;
		width: 80px;
		display: block;
	}

	.kkc-dni {
		left: 687px;
	}
	
	.kkc-godz {
		left: 781px;
	}
	.kkc-min {
		left: 861px;
	}
	.kkc-sec {
		left: 945px;
	}
}

.mainVideo {
	width: 500px;
	height: 281px;
	float: right;
	margin-top: -723px;
	margin-right: 0;
	background: transparent url(../img/play-button.png) no-repeat;
	cursor: pointer;
}