<div class="letter">
    <div class="remark">
        <h1>The Journey Continues.</h1>
        <p>Renew Your 2013-14 Season Tickets Now</p>
        <p>A message from Blake Griffin,</p>
    </div>

    <div class="letter-body">
        <p>For me, the game of basketball has always been about more than just individual success. 
        It is about being a part of something bigger, being a member of a team and working together to 
        accomplish our goals. I know that it takes everyone: players, coaches, team staff and 
        especially you – the fans to make that happen. </p>

        <p>I believe that this team has an opportunity to be special. Beginning with workouts in the summer 
        and continuing through our preseason trip to China, we have bonded and come together to 
        form a tight-knit group that enjoys playing with each other, and enjoys playing for you.</p>

        <p>I want to thank you for being such a big part of our success this season. It has been a great experience 
        for me, and I am looking forward to many more exciting nights at STAPLES Center.</p>

        <p>Sincerely, </p>
    </div><!-- .letter-body -->
    <div class="signature">
        <p>Blake Griffin</p>
        <p> #32</p>
    </div>
</div><!-- .letter -->

<div class="mainVideo">
    <script type="text/template" class="videoTemplate">
        <iframe src="http://player.vimeo.com/video/60861100?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </script>
</div>