<h2>2012-13 EVENTS</h2> 
<p>

<table width="100%" cellpadding="0" cellspacing="0">



<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-rookie-reception-121115.png" width="130">
</td>
<td>
<b>Rookie Reception</b>
Photos from this event can be viewed on the Clippers MVPs Facebook page. Add <a href="https://www.facebook.com/ClippersMVPs" target="_blank"><font 

color="#ed174c"><b>us</b></font></a> now!
<font color="#ffffff">The Los Angeles Clippers returned to the Galen Center for an Open Scrimmage on Wednesday, October 3rd. All Clippers fans were invited while MVPs 

enjoyed the game from the lower level. The first few hundred MVPs that arrived were given the opportunity to take a post-scrimmage photo with some of the team. Click on 

the appropriate link below to find yours now! 
<a href="" target="_blank"></a> | <a href="" target="_blank"></a> | <a href="" target="_blank"></font></a>

</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">



<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-kids-clinic-121115.png" width="130">
</td>
<td>
<b>MVP Kids Basketball Clinic</b> 
Photos from this event can be viewed on the Clippers MVPs Facebook page. Add <a href="https://www.facebook.com/ClippersMVPs" target="_blank"><font 

color="#ed174c"><b>us</b></font></a> now!
<font color="#ffffff">The Los Angeles Clippers returned to the Galen Center for an Open Scrimmage on Wednesday, October 3rd. All Clippers fans were invited while MVPs 

enjoyed the game from the lower level. The first few hundred MVPs that arrived were given the opportunity to take a post-scrimmage photo with some of the team. Click on 

the appropriate link below to find yours now! 
<a href="" target="_blank"></a> | <a href="" target="_blank"></a> | <a href="" target="_blank"></font></a>
</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">



<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-adult-clinic-121115.png" width="130">
</td>
<td>
<b>MVP Adult Basketball Clinic</b> 
Photos from this event can be viewed on the Clippers MVPs Facebook page. Add <a href="https://www.facebook.com/ClippersMVPs" target="_blank"><font 

color="#ed174c"><b>us</b></font></a> now!
<font color="#ffffff">The Los Angeles Clippers returned to the Galen Center for an Open Scrimmage on Wednesday, October 3rd. All Clippers fans were invited while MVPs 

enjoyed the game from the lower level. The first few hundred MVPs that arrived were given the opportunity to take a post-scrimmage photo with some of the team. Click on 

the appropriate link below to find yours now! 
<a href="" target="_blank"></a> | <a href="" target="_blank"></a> | <a href="" target="_blank"></font></a>
</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>
</table>




<table width="100%" cellpadding="0" cellspacing="0">



<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-thumb-scrimmage-120926.png" width="130">
</td>
<td>
<b>Open Scrimmage</b> 
The Los Angeles Clippers returned to the Galen Center for an Open Scrimmage on Wednesday, October 3rd. All Clippers fans were invited while MVPs enjoyed the game 

from the lower level. The first few hundred MVPs that arrived were given the opportunity to take a post-scrimmage photo with some of the team. Click on the appropriate 

link below to find yours now! 
<a href="https://plus.google.com/photos/118249336699399238655/albums/5795866790881590353?authkey=CLCEpbLPiK6P6AE" target="_blank"><font 

color="#ed174c"><b>Group: Chris Paul & Lamar Odom</b></font></a> | <a 

href="https://plus.google.com/photos/118249336699399238655/albums/5795867932385836257?authkey=CJDU4O6SjuHbYw" target="_blank"><font 

color="#ed174c"><b>Group: Chauncey Billups & Caron Butler</b></font></a> | <a 

href="https://plus.google.com/photos/118249336699399238655/albums/5795868976021526081?authkey=CKyKwdDc1K_Wbg" target="_blank"><font 

color="#ed174c"><b>Group: Blake Griffin & DeAndre Jordan</b></font></a>


</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>
</table>



 
<p>
<font color="#ed174c"><b>2012 MVP SUMMER SEASON EVENTS</b></font><BR>

<table width="100%" cellpadding="0" cellspacing="0">



<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-clinic-adult-120914.png" width="130">
</td>
<td>
<b>Basketball Clinics</b> 
MVP adults and kids learned basketball fundamentals on the courts of the Clippers Training Center during this intensive clinic with Clippers coaches.
<a href="https://picasaweb.google.com/114226219443136226390/AdultBasketballClinic81812?authuser=0&authkey=Gv1sRgCKKe9uHEkMK_5AE&feat=directlink"><font 

color="#ed174c"><b>Adult Clinic Photogallery</b></font></a> | <a href="https://picasaweb.google.com/114226219443136226390/KidsBasketballClinic81812?

authuser=0&authkey=Gv1sRgCNj6p5f44OTsOQ&feat=directlink"><font color="#ed174c"><b>Kids Clinic Photogallery</b></font></a>



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>

<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-galaxy-120914.png" width="130">
</td>
<td>
<b>LA Galaxy Match</b> 
MVPs gathered at the Home Depot Center to see the reigning MLS Cup champions beat the Portland Timbers!
<a href="https://picasaweb.google.com/114226219443136226390/MVPGalaxyMatch?authuser=0&authkey=Gv1sRgCMqW2dXn-JrnQA&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>

<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-draft-120914.png" width="130">
</td>
<td>
<b>NBA Draft Party</b> 
Join us and the Clippers Spirit when tomorrow's stars are chosen on June 28th during the NBA Draft. 
<a href="https://picasaweb.google.com/114226219443136226390/NBADraftParty?authuser=0&authkey=Gv1sRgCO7Xr5CTwbzwhAE&feat=directlink"><font 

color="#ed174c"><b>Photogallery</b></font></a>



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>


<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-vegas-120914.png" width="130">
</td>
<td>
<b>NBA Summer League Trip </b>
MVPs enjoyed luxury hotel accommodations on the Vegas strip, met the Clippers' Summer League team and watched rookies and prospects compete in a weekend of 

Summer League action!
<a href="https://picasaweb.google.com/114226219443136226390/2012ClippersSummerLeagueTrip?authuser=0&authkey=Gv1sRgCNuVwIjIz8LAHw&feat=directlink"><font 

color="#ed174c"><b>Photogallery</b></font></a>



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>

<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-movie-120914.png" width="130">
</td>
<td>
<b>MVP Movie Day</b>
Enjoy a blockbuster film with complimentary popcorn and soda during our private gathering of The Dark Knight Rises on July 28th.
<a href="https://picasaweb.google.com/114226219443136226390/MVPMovieDay2012?authuser=0&authkey=Gv1sRgCKrSn72Yq_WsEw&feat=directlink"><font 

color="#ed174c"><b>Photogallery</b></font></a>



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>

<tr valign="top">
<td valign="top">


<img border="0" title="" src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/mvp-dodgers-120914.png" width="130">
</td>
<td>
<b>LA Dodgers Game</b> 
Clipper Nation represented and enjoyed all-you-can-eat food on August 25th for our annual Dodgers Game.  
<a href="https://picasaweb.google.com/114226219443136226390/DodgersGamePhotos?authuser=0&authkey=Gv1sRgCPz985iAyq39FQ&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>
</table>




           
<p>
<font color="#ed174c"><b>2011-12 SEASON EVENT PHOTOS</b></font><BR>

<table width="100%" cellpadding="0" cellspacing="0">



<tr valign="top">
<td valign="top">


<img border="0" title="" src="/clippers/photos/mvp-fvp-th-120517.png" width="130">
</td>
<td>
<b>Playoff Fan Viewing Party #2 - 5/17/12 </b>
Location: Jake's of Pasadena. 
<a href="https://picasaweb.google.com/114226219443136226390/PlayoffViewingPartyB2?authuser=0&authkey=Gv1sRgCI-SkOvSr-7aTg&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a> 



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>

<tr valign="top">
<td valign="top">


<img border="0" title="" src="/clippers/photos/mvp-fvp-th-120509.png" width="130">
</td>
<td valign="top">

<b>Playoff Fan Viewing Party #1 - 5/9/12 </b>
Location: ESPN Zone L.A. Live. 
<a href="https://picasaweb.google.com/114226219443136226390/PlayoffViewingPartyA5?authuser=0&authkey=Gv1sRgCOforITAmpDlAw&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a> 



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>


<tr valign="top">
<td valign="top">


<img border="0" title="" src="/clippers/photos/chalk-talk-th-120410.png" width="130">
</td>
<td valign="top">
<b>MVP Month Chalk Talk - 3/30/12</b>
Questions concerning the state of the team were answered in this private session with Clippers General Manager Neil Olshey, President Andy Roeser, Head Coach Vinny 

Del Negro and Ralph Lawler. 
<a href="https://picasaweb.google.com/114226219443136226390/MVPMonthChalkTalk?authuser=0&authkey=Gv1sRgCI3jkr6rxYWSVw&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a> 



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>

<tr valign="top">
<td valign="top">


<img border="0" title="" src="/clippers/photos/photo-night-th-dj-120410.png" width="130">
</td>
<td valign="top">
<b>MVP Month Photo Night #2 - 3/26/12</b>
MVPs had the opportunity to take an account photo with a Clippers player!
Photogalleries: <a href="https://picasaweb.google.com/114226219443136226390/MVPMonthPhotoNight2Gomes?

authuser=0&authkey=Gv1sRgCJePyJvI_6LDIw&feat=directlink" target="_blank"><font color="#ed174c"><b>Ryan Gomes</b></font></a> | <a 

href="https://picasaweb.google.com/114226219443136226390/MVPMonthPhotoNight2Williams?authuser=0&authkey=Gv1sRgCJn2ndeCw_6c6gE&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Mo Williams</b></font></a> | <a 

href="https://picasaweb.google.com/114226219443136226390/MVPMonthPhotoNight2Jordan?authuser=0&authkey=Gv1sRgCPuzvK3d8JCx_wE&feat=directlink" 

target="_blank"><font color="#ed174c"><b>DeAndre Jordan</b></font></a> | <a 

href="https://picasaweb.google.com/114226219443136226390/MVPMonthPhotoNight2Simmons?authuser=0&authkey=Gv1sRgCNKa9rCS6ezkjwE&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Bobby Simmons</b></font></a> 



</td>
</tr>
<tr>
<td colspan="4">
<hr>
</td>
</tr>



<tr valign="top">
<td valign="top">

<img border="0" title="" src="/clippers/photos/photo-night-th-butler-120320.png" width="130">
</td>
<td valign="top">

<b>MVP Month Photo Night #1 - 3/14/12</b>
MVPs had the opportunity to take an account photo with a Clippers player! 
Photogalleries: <a href="https://picasaweb.google.com/115435454379321315719/MVPMonthPhotoNight1Foye?authuser=0&authkey=Gv1sRgCJzytL-

fspyXfA&feat=directlink" target="_blank"><font color="#ed174c"><b>Randy Foye</b></font></a> | <a 

href="https://picasaweb.google.com/115435454379321315719/MVPMonthPhotoNight1Griffin?authuser=0&authkey=Gv1sRgCL7H38jtv_aQjQE&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Blake Griffin</b></font></a> | <a 

href="https://picasaweb.google.com/115435454379321315719/MVPMonthPhotoNight1Butler?authuser=0&authkey=Gv1sRgCPOu4-jIid3uxQE&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Caron Butler</b></font></a> | <a 

href="https://plus.google.com/photos/115435454379321315719/albums/5728335776583391249?banner=pwa&authkey=CMGj64bwqO2y3AE" target="_blank"><font 

color="#ed174c"><b>Bobby Simmons</b></font></a> | <a href="https://picasaweb.google.com/114226219443136226390/MVPMonthPhotoNightKenyon?

authuser=0&authkey=Gv1sRgCNSO9eLvv9KWZw&feat=directlink" target="_blank"><font color="#ed174c"><b>Kenyon Martin</b></font></a>

</td>
</tr>


<tr>
<td colspan="4">
<hr>
</td>
</tr>




<tr valign="top">
<td valign="top">
<img border="0" title="" src="/clippers/photos/tip-off-th-120320.png" width="130">
</td>
<td>
 
<b>MVP Month Tip-Off Party - 3/11/12</b>
Tenured MVPs stayed postgame to meet players and enjoy complimentary snacks and beverages to kick off MVP Month!
<a href="https://picasaweb.google.com/115435454379321315719/MVPMonthTipOffParty?authuser=0&authkey=Gv1sRgCILA4oLWp7Lr9gE&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>

</td>
</tr>

<tr>
<td colspan="4">
<hr>
</td>
</tr>

<!--END ROW-->



<tr valign="top">
<td valign="top">
<img border="0" title="" src="/clippers/photos/fvp-120301.png" width="130">
</td>
<td>
<b>Fan Viewing Parties</b>

Clipper Nation came together to watch the team on the road for two road games this season. DJ Dense, Clippers Spirit and Fan Patrol were on hand to host and give away 

prizes at every commercial break!
2/1/12 at Jake's Billiards: <a href="https://picasaweb.google.com/114226219443136226390/FanViewingPartyJakeS?

authuser=0&authkey=Gv1sRgCMDmtefUqriiRg&feat=directlink" target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>
3/1/12 at Big Wang's: <a href="https://picasaweb.google.com/107801566376149287213/FanViewingPartyBigWangs?

authuser=0&authkey=Gv1sRgCJnIjJaW3KjYjAE&feat=directlink" target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>

</td>

<tr>
<td colspan="4">
<hr>
</td>
</tr>





<tr valign="top">
<td valign="top">
<img border="0" title="" src="/clippers/photos/adult-clinic-120121-th.png" width="130">
</td>
<td>
<b>Adult Basketball Clinic - 1/21/12</b>
MVPs were invited to get hands on coaching instruction from Clippers staff in this exclusive clinic at the Training Center.
<a href="https://picasaweb.google.com/114226219443136226390/MVPAdultClinic12112?authuser=0&authkey=Gv1sRgCKzTr6DqtYSgXw&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>

</td>
</tr>

<tr>
<td colspan="4">
<hr>
</td>
</tr>



<tr valign="top">
<td valign="top">
<img border="0" title="" src="/clippers/photos/rookie-recep-120120-th.png" width="130">
</td>
<td>
<b>Rookie Reception - 1/20/12</b>
First year Season Ticket Holders mixed and mingled in this postgame party with special appearances by the Clippers' own rookies Trey Thompkins and Travis Leslie. 
<a href="https://picasaweb.google.com/114226219443136226390/RookieReception12012?authuser=0&authkey=Gv1sRgCO7Yx87WnuOOEg&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>

</td>
</tr>

<tr>
<td colspan="4">
<hr>
</td>
</tr>



<tr valign="top">
<td valign="top">
<img border="0" title="" src="/clippers/photos/courtside-mix-120120-th.png" width="130">
</td>
<td>
<b>Courtside Mixer - 1/20/12</b>
Courtside Season Ticket Holders were invited to join us at this exclusive mixer during halftime of the game against Minnesota for top shelf liquor, beer, wine and hors 

d'oeuvres.
<a href="https://picasaweb.google.com/114226219443136226390/CourtsideMixer12012?authuser=0&authkey=Gv1sRgCJyiyJyE56bHPQ&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>

</td>
</tr>




<tr>
<td colspan="4">
<hr>
</td>
</tr>




<tr valign="top">
<td valign="top">
<img border="0" title="" src="/clippers/photos/kids-clinic-120104-th.png" width="130">
</td>
<td>
<b>Kids Basketball Clinic - 1/4/12</b>
MVP Kids ages 6-15 got to participate in this clinic designed to sharpen their basketball skills.
<a href="https://picasaweb.google.com/114226219443136226390/MVPKidsClinic1412?authuser=0&authkey=Gv1sRgCOGY56Pytd3b0wE&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>

</td>
</tr>

<tr>
<td colspan="4">
<hr>
</td>
</tr>


<tr valign="top">
<td valign="top">
<img border="0" title="" src="/clippers/photos/kids-court-th-1204110.png" width="130">
</td>
<td>
<b>Kids Court - 12/30/11</b>
Kids were invited to take their best shot on the Clippers court after our home opener against Chicago.
<a href="https://picasaweb.google.com/114226219443136226390/LACVsCHI123011?authuser=0&authkey=Gv1sRgCPzP0-bWmpGbEw&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>

</td>
</tr>

<tr valign="top">
<td colspan="4">
<hr>
</td>
</tr>




<tr valign="top">
<td valign="top">
<img border="0" title="" src="/clippers/photos/open-scr-th-120410.png" width="130">
</td>
<td>

<b>Open Scrimmage - 12/18/11</b>
The Galen Center opened their doors to Clippers fans for their first look at the new team in red and blue. 
<a href="https://plus.google.com/photos/115435454379321315719/albums/5688001583599793201?banner=pwa&authkey=CLXnh7iNgp_CEA" target="_blank"><font 

color="#ed174c"><b>Photogallery</b></font></a>

</td>
</tr>

<tr>
<td colspan="4">
<hr>
</td>
</tr>




<tr valign="top">
<td valign="top">
<img src="http://www.nba.com/clippers/photos/meet-th-120410.png" width="130">
</td>
<td>
<b>Meet the Team - 12/16/11</b>
MVPs that renewed their season tickets were invited to meet the new Clippers team in a private event at the California Science Center.
 <a href="https://picasaweb.google.com/115435454379321315719/1112MeetTheTeamPhotos?authuser=0&authkey=Gv1sRgCM-uwbGN85mBZA&feat=directlink" 

target="_blank"><font color="#ed174c"><b>Photogallery</b></font></a>

</td>
</tr>


<tr>
<td colspan="4">
<hr>
</td>
</tr>



</table>