<h2>2012-13 GAME DAY ACTIVITIES</h2> 

 
             
             
           <font color="#003399"><b>MVP PHOTOS</b></font>
            <em>All Season Ticket Holder event and game photos can be found on the Official ClippersMVPS Facebook Page.  <a 

href="http://www.facebook.com/ClippersMVPs" target="_blank"><font color="#e1003a"><b>Click here</b></font></a> to add us now! <BR></em>
        <p>         
            <font color="#003399"><b>FAN CENTRAL</b></font>
           <em>Personal service is available to you at every home game to ensure that you receive outstanding MVP treatment. Visit Fan Central behind section 102 to get 

connected with your Account Executive, pick-up game notes and redeem your MVP Rewards.</em>
                    <p>
           <font color="#003399"><b>GAME BALL PRESENTER</b></font>
            <em>Season Ticket Holders will be selected at random to present the official game ball to the referee before the start of the game. MVP must be available at least 

30 minutes prior to tip-off to participate.<BR> </em><font color="#ed174c">Legend & Courtside MVPs that have not participated in previous seasons are eligible for this 

2012-13 season. Please contact your Account Executive. </font>
                  <p>     
           <font color="#003399"><b>MVP CAPTAIN</b></font>
            <em>Season Ticket Holders will be selected at random to join the pre-game huddle and meet the captains of both teams at center court. MVP must be available at 

least 45 minutes prior to tip-off to participate. </em><BR><font color="#ed174c">Legend & Courtside MVPs that have not participated in previous seasons are eligible for 

this 2012-13 season. Please contact your Account Executive.</font>
 <p> 
           <font color="#003399"><b>MVP OF THE GAME</b></font>
            <em>Season Ticket Holders will be selected at random to be the official MVP of the Game during a break in each game this season. MVP will be featured with a 

Clippers host on the JumboTron and receive a gift from the team.</em><BR><font color="#ed174c">MVPs that have not participated in previous seasons are eligible for 

this 2012-13 season.</font>
<script type="text/javascript" src="http://form.jotformpro.com/jsform/22707000808950"></script>

 
 <font color="#003399"><b>AUTOGRAPH ALLEY & PHOTO TUNNEL</b></font>
<script type="text/javascript" src="https://secure.jotformpro.com/jsform/22757617959976"></script>       

 <font color="#003399"><b>HONORARY BALL KIDS & HIGH-FIVE KIDS</font></b>
<script type="text/javascript" src="https://secure.jotformpro.com/jsform/22757537745970"></script>

<p>