<h2>MVP BENEFITS</h2> 
                 
               
                <a name="top"></a>
                <table border="0" cellspacing="0" cellpadding="5" border="5">
                <tr>
                 <td><font color="#eb174b"><b><em>These benefits only apply to Season Ticket Holders with 2012-13 Clippers Season Tickets.</em></b></font></td></tr>
                </table>
                
            <hr>
               
                <font color="#003399"><b>MY CLIPPERS ACCOUNT</b></font>
                My Clippers Account is a unique service provided by Ticketmaster as the one-stop resource for managing your ticket account needs. Your account number or 

e-mail address and password are required. The primary account holder can retrieve log-in information by calling 213-742-7555.
                <ul>
                <li>Make payments and renew season tickets</li>
                
                <li>Track ticket usage</li>
                
                <li>Check MVP points</li>
                
                <li>Forward/email tickets and parking</li>

                <li>Sell tickets and parking</li>
                
                <li>Update account profile</li>
                <p>
                
                </ul>
<p>
                <font color="#003399"><b>VACATION CREDIT EXCHANGE</b></font>
MVPs will have the ability to return tickets for a select number of regular season home games during the 2012-13 season for a credit (equal to your Season Ticket Holder 

paid price) on your account.* The amount of games that can be exchanged is based on your Season Ticket Holder tenure with a maximum of four (4) tickets returned for 

each game. Once your exchange credit is added to your account it can be used to purchase individual game tickets this season or towards your 2013-14 Clippers Season 

Ticket renewal.** 
<p>
All tickets must be returned to the Clippers at least seven (7) business days prior to the game that is being returned. Tickets can be returned to Fan Central behind section 

102 during any Clippers home game or the tickets can be forwarded using My Clippers Account Manager to <a href="mailto:vcx@clippers.com"><font 

color="#ed174c"><b>VCX@clippers.com</b></font></a>. Mailed tickets and any tickets received later than the deadline will not be accepted for the Vacation Credit 

Exchange program.
<p>
Once your order has been received, any exchanged tickets that you have in your possession will be void and invalid for entry into STAPLES Center. 
<table width="95%" border="1" cellspacing="0" cellpadding="2">
            
            <tr valign="bottom" align="left">
            <th align="left"><U>TENURE (CONSECUTIVE YEARS)</U></th>
            <th align="left"><U>MAX # OF EXCHANGE GAMES</U></th>
            <th align="left"><U>MAX # OF EXCHANGE TICKETS</U></th>   
            
            </tr>
            
            <tr align="bottom">
            <td>Rookie (2012-current)</td>
            <td>3 games</td>
            <td>4 tickets per game (12 tickets per season)</td>
            </tr>
            <tr align="bottom">
            <td>Veteran (2003-2011)</td>
            <td>4 games</td>
            <td>4 tickets per game (16 tickets per season)</td>
            </tr>
 <tr align="bottom">
            <td>All-Star (1989-2002)</td>
            <td>5 games</td>
            <td>4 tickets per game (20 tickets per season)</td>
            </tr>
 <tr align="bottom">
            <td>Legends (1984-1988)</td>
            <td>6 games</td>
            <td>4 tickets per game (24 tickets per season)</td>
            </tr>
</table>
<em>*Pre-season games are excluded from this program. This credit cannot be used towards your existing 2012-13 Clippers Season Ticket balance.</em>
<p>
<em>**E-mail Jamie Lee at <a href="mailto:JLEE@clippers.com"><font color="#ed174c"><b>JLEE@clippers.com</b></font></a> to utilize your credit to purchase single 

game tickets during the season. All game tickets are limited and subject to availability. Account credit unused during the season will automatically be transferred to your 

2013-14 Clippers Season Tickets.</em>



<p>
                <font color="#003399"><b>PRE-SALE CLIPPERS TICKETS</b></font>
                MVPs will be contacted via e-mail for pre-sale access to single game tickets, group tickets and event suites before the general public.
                <p>
                                               
                <font color="#003399"><b>BOX OFFICE MVP WINDOW</b></font>
                Window #3 is the exclusive window for MVPs at the STAPLES Center Box Office to avoid the game day crowd.
                <p>
                
                <font color="#003399"><b>TEAM LA STORE DISCOUNT</b></font>
                Season Tickets Holders receive a 10% discount at the LA Store with their MVP Card (included in your season ticket booklet). 
                <p>
                
                
                <font color="#003399"><b>TEAM LA EXPRESS LINE</b></font>
                An express cashier line will get you out of the store and back in your seats before you miss the on-court action. 
                <p>
                
                <font color="#003399"><b>CLIPPERS FOUNDATION TICKET DONATIONS</b></font>
                MVPs can give back to the community by donating unused game tickets to charitable organizations. This donation may be tax deductible. Contact our Community 

Relations Department for additional information: (310) 862-6031.
                <p>
                
                <font color="#003399"><b>SCOREBOARD MESSAGES</b></font>
                Post a personalized message during a game on our JumboTron! MVPs get a special rate of $50 which is also charitable to the LA Clippers Foundation. Requests 

must be received at least two (2) business days prior to the game you select. Contact our Community Relations Department for additional information: (310) 862-6031.
                <p>
       
                <font color="#003399"><b>SEASON PARKING PASS</b></font>
               MVPs can purchase convenient and secure parking in advance for the season.
                <p>
                
                <font color="#003399"><b>MVP COMMUNICATION</b></font>
                Facebook: <a href="http://www.facebook.com/clippersmvps" target="_blank"><font color="#eb174b"><b>ClippersMVPS</b></font></a>
Twitter: <a href="http://www.twitter.com/clippersmvps" target="_blank"><font color="#eb174b"><b>@ClippersMVPs</b></font></a>
                Website: <a href="http://www.clippersmvp.com"><font color="#eb174b"><b>www.clippersmvp.com</b></font></a>
                <p>
                
                
                <b>STAPLES CENTER AMENITIES</b>
                <font color="#003399"><b>L.A. LIVE & STAPLES CENTER PRE-SALES</b></font>
                MVPs will receive exclusive pre-sale opportunities for events at STAPLES Center and L.A. Live venues.  
                <p>
               
                <font color="#003399"><b>CITY VIEW TERRACE</b></font>
                The City View Terrace is an outdoor balcony overlooking Chick Hearn Court accessible from the Upper Concourse by section 327. The City View Terrace is the 

designated smoking area for all fans. 
                
                <BR>
                <BR>
                <a href="#top">Back to Top</a>