<h2>MVP REWARDS</h2> 
           
            
           
      
            
            <table width="95%" border="1" cellspacing="0" cellpadding="2">
            
            <tr valign="bottom" align="left">
            <th align="left">POINTS</th>
            <th align="left">REWARD</th>
            <th align="left">DEADLINE</th>
            <th align="left">WINNER(S)</th>
          
            
            </tr>
            
            <tr align="bottom">
            <td><b>8</b></td>
            <td>One (1) account will win a trip to the 2013 NBA All-Star Game</td>
            <td><b>11/17/12</b></td>
            <td>Aaron Carr</td>
            </tr>
            
            <tr>
            <td><b>12</b></td>
            <td>Five (5) account will win a Clippers Suite Night</td>
            <td><b>12/11/12</b></td>
            <td>Donna S. Grisham, Howard Elyashar, Bryan Wong, Jay Kaufman, and Aaron Slotnick </td>
           
            </tr>
            
            <tr>
            <td><b>18</b></td>
            <td><b>Each qualified account will receive one (1) Clippers Sports Bottle</b></td>
            <td><b>4/16/13</b></td>
            <td></td>
        
            
            </tr>
            
            <tr>
            <td><b>22</b></td>
            <td>10 Accounts will win an Autographed Player Hat</td>
            <td><b>1/24/13</b></td>
            <td></td>
            
            </tr>
            
            <tr>
            <td><b>26</b></td>
            <td>One (1) account will win a weekend trip to the 2013 NBA Summer League</td>
            <td><b>2/26/13</b></b></td>
            <td></td>

            </tr>
            
            <tr>
            <td><b>30</b></td>
            <td>10 accounts will win a Team Autographed Basketball</td>
            <td><b>3/17/13</b></td>
            <td></td>
            </tr>
            
            <tr>
            <td><b>35</b></td>
            <td><b>Each qualified account will receive one (1) Clippers Spalding Notepad</b></td>
            <td><b>4/16/13</b></td>
            <td></td>
            </tr>
            
            <tr>
            <td><b>50</b></td>
            <td>One (1) account will win a trip to a future Clippers Road Game</td>
            <td><b>4/16/13</b></td>
            <td></td>
            </tr>
                              
            </table>
<em>*MVP Rewards are subject to change</em>

            
            <p>
            
            <a name="program"></a>
            <font color="#003399"><b>THE PROGRAM</b></font>
            <i>Attendance has never been more rewarding!</i>
            MVP Rewards is the fan loyalty program that rewards you for attending Clippers home games. We appreciate your support during the year and want to give you the 

exclusive opportunity to win special prizes and once in a lifetime experiences.  
             
            <p>
            <font color="#003399"><b>SCORING POINTS</b></font>
            Every time you attend a Clippers home game you will earn one attendance point. Special events are worth additional points (see below). We'll keep track of your 

points during the season and contact you when you have earned enough points for a reward. If you can't make a game, e-mail your tickets to a friend using My Clippers 

Account Manager and you will earn an attendance point as long as your ticket is scanned at Staples Center. 
            <p>
<b>Total Points Possible</b>
<table cellpadding="0" cellspacing="0">
<tr>
<td>Attendance</td><td>44</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-100.png" width="50"></td><td>PIF 

Renewal (by 4/4/13)</td><td>3</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png" width="50"></td><td><img 

src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png"></td></tr>
<tr>
<td>MVP Month Bonus</td><td>1</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-100.png" 

width="50"></td><td>Veteran Renewal</td><td>4</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png" 

width="50"></td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png"></td></tr>
<tr>
<td>Fan Viewing Parties</td><td>4</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-100.png" 

width="50"></td><td>All-Star Renewal</td><td>6</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png" 

width="50"></td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png"></td></tr>
<tr>
<td>Rookie Reception Bonus</td><td>2</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-100.png" 

width="50"></td><td>Legend Renewal</td><td>8</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png" 

width="50"></td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png"></td></tr>
<tr>
<td>Facebook/Twitter Bonus</td><td>1</td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-100.png" 

width="50"></td><td><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png" width="50"></td><td><img 

src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/trans-block-10.png"></td></tr>
</table>

            <font color="#003399"><b>REWARDS</b></font>
          There are two types of rewards you can win, Instant Rewards and Bonus Rewards. To earn an Instant Reward, you must earn the designated number of points for 

the reward before the end of the 2011-12 regular season. To earn a Bonus Reward, you must earn the designated number of points for the reward before the deadline date 

to be entered into a random drawing for that prize. Bonus Reward Winners will be contacted by a member of the Fan Relations Department. 
            <p>
            <font color="#003399"><b>REDEMPTION</b></font>
            Once you have accumulated enough points for an Instant Reward, a voucher will be loaded into your season ticket account. This voucher can be accessed online 

using <a href="https://oss.ticketmaster.com/html/home.htmI?team=clippers&l=EN&STAGE=1"><font color="#ed174c"><b>My Clippers Account Manager</b></font></a>. 

You will need to have your account number and password in order to log in to your account. Print the voucher at home and bring it to Fan Central behind section 102 on the 

Main Concourse during any Clippers home game to receive your prize. You must have your voucher in order to receive your reward. Please note that there is a limit of one 

(1) instant reward per qualifying season ticket account. Duplicate copies of reward vouchers will not be accepted. Contact your Account Representative at (213) 742-7555 to 

receive your online account information.
          <p>
            
            <font color="#003399"><b>THE RULES</b></font>
            
            <ol>
            <li>One (1) point is earned when any ticket in your season ticket account is scanned upon entry to STAPLES Center. Each season ticket account can earn a 

maximum of one (1) point per game. 
            </li>
            <li>Bonus points can be earned at select special events. Look for all bonus point opportunities on www.clippersmvp.com during the season. 
            </li>
            <li>Reward vouchers will be uploaded into your account once a reward level has been reached. A voucher must be presented in order to receive your prize. 
            </li>
            <li>One (1) reward per qualified season ticket account. 
            </li>
            <li>All rewards must be picked up at Fan Central during any Clippers home game during the 2012-13 regular season.  
            </li>
            <li>Bonus Reward winners will be announced during the game and contacted by a member of the Fan Relations Department. 
            </li>
            <li>Points are cumulative during the 2012-13 regular season and will expire on April 16, 2013. Points will not be earned for any 2013 home playoff games. 
            </li>
            <li>Points will not be credited for past games in which attendance was not recorded.  
            </li>
            <li>Points are not transferable to any other season ticket account. 
            </li>
            <li>The Clippers reserve the right to substitute any rewards with rewards of comparable value. 
            </li>
            <li>Acceptance of any prize or reward constitutes permission to use the winner's name and/or likeness for purposes of advertising and trade without further 

compensation, unless prohibited by law. 
             </li>
            </ol>
            
            <p>
            
            
            
            
            
            </td></tr>
            
            </table>