<h2>2012-13 COURTSIDE MVPS</h2> 


<p>
<font color="#003399"><b>2012-13 COURTSIDE EXPERIENCES</b></font>
This list will be updated frequently with information on exclusive experiences for our Courtside MVPs. 
<p>
 <font color="#003399"><b>SAN MANUEL ARENA CLUB</b></font>
                This restaurant is located on Suite Level A and provides a chic dining option overlooking the arena for Luxury Suite Holders, Premier Seat Holders and game day 

Arena Club passes. Passes or applicable game tickets are required for access. For reservations please contact Jamie at <a href="mailto:jlee@clippers.com"><font 

color="#ed174c"><b>jlee@clippers.com</b></font></a> or (213) 742-7545.
                <p>
                <font color="#003399"><b>AMERICAN EXPRESS PLATINUM LOUNGE</b></font>
              Located on Suite Level B above the San Manuel Club, the American Express Platinum Lounge is exclusive to American Express Platinum cardholders. They may 

bring up to three (3) guests per card and enjoy the Platinum Lounge pre-game, at half-time/intermission, or even during the event.
                <p>            
                <font color="#003399"><b>HYDE LOUNGE</b></font>
                Hyde Lounge is located on Level C and is open before, during and long after venue events. Special events and tableside bottle service are available. 

Reservations or passes are required, for more information please contact Jamie at <a href="mailto:jlee@clippers.com"><font 

color="#ed174c"><b>jlee@clippers.com</b></font></a> or (213) 742-7545. 
                <p>         
                <font color="#003399"><b>LEXUS CLUB MEMBERSHIP</b></font>
               For a finer dining experience, the Lexus Club is accessible to members only, for more information please contact Jamie at <a 

href="mailto:jlee@clippers.com"><font color="#ed174c"><b>jlee@clippers.com</b></font></a> or (213) 742-7545.
               <p>
<font color="#003399"><b>COURTSIDE BBQ</b></font>
Courtside Season Ticket Holders are invited to this private luncheon at the Clippers Training Center in Playa Vista in the spring. MVPs will be treated to a delicious meal 

with raffle giveaways and interaction with the team. Invitations to RSVP will be e-mailed closer to the date of the event. 
<p>
<font color="#003399"><b>COURTSIDE MIXER</b></font>
Courtside Season Ticket Holders are invited to join us at this exclusive mixer during halftime of the game against Dallas on December 5th. Step away from your seats with 

us for top shelf liquor, beer, wine and hors d'oeuvres. Invitations to RSVP will be e-mailed closer to the date of the event.
<p>
<font color="#003399"><b>SCOREBOARD MESSAGES</b></font>
Say "Happy Birthday" with a complimentary scoreboard message during the game. Message requests must be submitted 48 hours prior to the day of the game. Please 

e-mail your request to Jamie Lee at <a href="mailto:jlee@clippers.com"><font color="#ed174c"><b>jlee@clippers.com</b></font></a>
<p>
<b><em>*Dates and events are all subject to change</em></b>