<h2>2012-13 MVP CONTACT INFORMATION</h2> 
                         <font color="#003399"><b>OUR VISION...</b></font><b><i>The L.A. Clippers will strive to be a dedicated group of sales and service professionals that 

will consistently deliver memorable experiences and personalized attention to our loyal fans.</i></b>
                         <p>
                         
                         
                         <font color="#003399" size=2><b>MVP PRESS</b></font>
                         Check the monthly MVP Press for updates on these events throughout the season! All current Season Ticket Holders are automatically signed up for the 

MVP Press. If you are not receiving the MVP Press, you can check your subscription by sending a request here: <a href="mailto:feedback@clippers.com?subject=MVP

%20Press%20Opt-in"><font color="#ed174c"><b>Opt in to MVP Press</b></font></a><BR> 
                         <p>
                         
                         <font color="#003399" size=2><b>FACEBOOK</b></font>
                         The Official ClippersMVPS Facebook page is your exclusive source to everything regarding your Clippers experience! Add us on Facebook for event 

updates, share your Clippers photos and connect with other Season Ticket Holders! This page is for MVPs only so you must provide your account number in the <a 

href="http://www.facebook.com/ClippersMVPs"><font color="#ed174c"><b>Friend Request</b></font></a> to be added. 
<p>
<font color="#003399" size=2><b>TWITTER</b></font>
                        The Official ClippersMVPS Twitter page is your exclusive source to live updates regarding your Clippers experience! This feed is for MVPs only so please 

send a direct message to <a href="http://www.twitter.com/clippersmvps" target="_blank"><font color="#ed174c"><b>@ClippersMVPs</b></font></a> with your account 

name and number for follower approval.
                         
                         <hr size=1 color="#e1e1e3" align=left width=100%>
                         
                         
                         
                         <font size=2 color="#E1003A"><b>FAN RELATIONS DEPARTMENT</b></font>
                          <hr size=1 color="#e1e1e3" align=left width=100%>
                         
                         
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Kelly,%20Joe1011.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>JOE KELLY</b>
                         <b><i>Fan Relations & Services Director</i> | 213-763-7775 | <a href="mailto:jkelly@clippers.com">jkelly@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> September, 2003
                         <b>Hometown:</b> Knoxville, TN
                         <b>Alma Mater:</b> University of Memphis
                         <b>3 Things About Me:</b> I've had the incredible opportunity to travel to Rome and Berlin over the last few years. Next on the list are Barcelona, London, 

Athens and Sydney. Sports are a huge part of my life and I'm a major fan of University of Tennessee Football (Go Vols!), Memphis Basketball and I share season tickets 

for the Arizona Cardinals. Of course my #1 team is here in LA, the mighty Clippers.
                         
                         </td>
                         </tr>
                         </table>
                         
                         <p>
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Lee,%20Jamie1011.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>JAMIE LEE</b>
                         <b><i>Premium Services Manager</i> | (213) 742-7545 | <a href="mailto:jlee@clippers.com">jlee@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> August, 2004
                         <b>Hometown:</b> Sacramento, CA
                         <b>Alma Mater:</b> Long Beach State University
                         <b>Favorite Clippers Moment:</b> : I’ve had a lot of great moments but more recently was Chris Paul’s press conference. I couldn’t believe it was really 

happening!  
                         <b>3 Things About Me:</b> I'm a pescetarian foodie and wino. Favorite pastimes include live entertainment, traveling, Burke Williams and Nordstrom. I am 

finally a proud mom… of a teacup yorkie-poo!  
                         
                         </td>
                         </tr>
                         </table>
                         
                         <p>
                         
                   
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Petersen,%20Carly11-12.jpg" 

width="150" alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>CARLY PETERSEN</b>
                         <b><i>Account Service Representative</i> | (213) 742-7519 | <a href="mailto:carlyp@clippers.com">cpetersen@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> September 27, 2010
                         <b>Hometown:</b> Redding, CA
                         <b>Alma Mater:</b> Cal State University, Northridge & University of San Francisco
                         <b>3 Things About Me:</b> I love watching sports, eating lots of good healthy food and laughing as much as possible.
                         
                         
                         
                         </td>
                         </tr>
                         </table>
 <p>
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Hill,%20Jason1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>JASON HILL</b>
                         <b><i>Account Service Representative</i> | (213) 742-7538 | <a href="mailto:jhill@clippers.com">jhill@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> February 1, 2012
                         <b>Hometown:</b> Mount Airy, North Carolina
                         <b>Alma Mater:</b> University of North Carolina and Ohio University
                         <b>3 Things About Me:</b>I love attending concerts and sporting events, I’ve been known to rock the mic from time to time, and I love my Clipper family!
                         
                         
                         
                         </td>
                         </tr>
                         </table>
<p>
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Breen,%20Collin1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>COLLIN BREEN</b>
                         <b><i>Account Service Representative</i> | (213) 742-7542 | <a href="mailto:cbreen@clippers.com">cbreen@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> July 10, 2012
                         <b>Hometown:</b> San Clemente, CA
                         <b>Alma Mater:</b> Cal State San Marcos
                         <b>3 Things About Me:</b>: I love to Golf (even though it’s the most frustrating sport in the world), I love trying all different types of craft beer, and I am a 

huge baseball fan…GO DODGERS!
                         
                         
                         
                         </td>
                         </tr>
                         </table>
<hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Ares,%20Danielle1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>DANIELLE ARES</b>
                         <b><i>Account Service Representative</i> | (213) 742-7514 | <a href="mailto:dares@clippers.com">dares@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> August 28, 2012
                         <b>Hometown:</b> Los Angeles, CA (San Gabriel girl at heart) 
                         <b>Alma Mater:</b> Santa Monica College & California State University, Los Angeles  
                         <b>3 Things About Me:</b>: Born and raised a Clippers fan (former season ticket holder), Disney Fanatic, and I love swimming or being poolside during 

my free time.
                         
                         
                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         
                                                  <hr width=100% align=left color="#e1e1e3" size=1>
                         <font size=2 color="#E1003A"><b>TICKET SALES DEPARTMENT</b></font>
                                                   <hr width=100% align=left color="#e1e1e3" size=1>
                          
                         
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Lahr,%20Carl1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>CARL LAHR</b>
                        <b> <i>Senior Vice President of Marketing & Sales</i> | (213) 742-7530 | <a href="mailto:clahr@clippers.com">clahr@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> June 22, 1981
                         <b>Hometown:</b> Norfolk, Virginia
                         <b>Alma Mater:</b> Penn State University
                         <b>Favorite Clippers Moment:</b> The Clippers defeat the Utah Jazz 115-107 in Game 4 of the NBA Playoffs on Sunday May 3, 1992 at the Anaheim 

Convention Center. The game had been postponed and relocated from the LA Sports Arena due to riots that had ensued on April 29th.  The local fans rejoiced at a chance 

to get out and have something to smile about. The Clippers gave them plenty of smiles that day. <BR>
                         
                         
                         </td>
                         </tr>
                         </table>
                         
                         <p>
                         
                                                  
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Martinez,%20Urel1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>UREL MARTINEZ</b>
                        <b><i>Director of Ticket Sales</i> | (213) 742-7552 | <a href="mailto:umartinez@clippers.com">umartinez@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> August, 2005
                         <b>Hometown:</b> Hacienda Heights, CA
                         <b>Alma Mater:</b> University of California, Irvine
                         <b>Favorite Clippers Moment:</b> Historic 24 point come-from-behind victory over the Memphis Grizzlies in Game 1 of the 2012 NBA Playoffs.  
                         <b>3 Things About Me:</b>Played High School Quarterback. Have an unstoppable fade away jumper (doesn’t always go in). Love In-N-Out Burgers and 

Chick-Fil-A.
                         
                         </td>
                         </tr>
                         </table>
                         
                         <p>
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Gwartz,%20Matthew1213.jpg" 

width="150" alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>MATTHEW GWARTZ</b>
                         <b><i>Inside Sales Manager</i> | (213) 765-0425 | <a href="mailto:mgwartz@clippers.com">mgwartz@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> May 17, 2006
                         <b>Hometown:</b> Yorba Linda, CA
                         <b>Alma Mater:</b> El Dorado High School and The University of Arizona
                         <b>Most Memorable Clippers Moment:</b>  The moment I realized I was a part of the best sales team in the NBA.
                         <b>3 Things About Me:</b> C & H, playing sports, eating.
                         
                         
                         </td>
                         </tr>
                         </table>
                         
                         <p>
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Ryan,%20Zac1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>ZAC RYAN</b>
                         <b><i>Inside Sales Manager</i> | (213) 742-7536 | <a href="mailto:zryan@clippers.com">zryan@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> September 7, 2006
                         <b>Hometown:</b> Kelton, PA
                         <b>Alma Mater:</b> Avon Grove Red Devils, H.S. and THEE WVWC Bobcats
                         <b>Favorite Clippers Moment:</b> Watching very deflated Boston fans exit STAPLES Center after “The Boom Factor” aka “Boom Dizzle” aka Baron Davis 

hit the game winner at the buzzer on December 28, 2009.
                         <b>3 Things About Me:</b> Dog lover, Angry Birds savant, Aspiring bee keeper.
                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         <p>
                         

      
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Wilson,%20Cedric1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>CEDRIC WILSON</b>
                         <b><i>Senior Account Executive</i> | (213) 742-7543 | <a href="mailto:cwilson@clippers.com">cwilson@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> June 5, 1995
                         <b>Hometown:</b> Oakland, CA
                         <b>Alma Mater:</b> Cal Poly Pomona
                         <b>3 Things About Me:</b> I enjoy sports, music and relaxing.
                         
                         </td>
                         </tr>
                         </table>
                         
                         <p>
                         

   
                         
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Strikwerda,%20Rob11-12.jpg" 

width="150" alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>ROB STRIKWERDA</b>
                         <b><i>Senior Account Executive/Arena Operations Coordinator</i> | (213) 742-7541 | <a 

href="mailto:rstrikwerda@clippers.com">rstrikwerda@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> June, 1996
                         <b>Hometown:</b> Valparaiso, IN
                         <b>Alma Mater:</b> Indiana University
                         <b>Favorite Clippers Moment:</b> I think my favorite moment has yet to happen because I don't recall sweeping the Lakers in the Western Conference 

Finals anytime recently. 
                         <b>3 Things About Me:</b> I enjoy being a part of a successful team more than any individual success could provide.  I see more concerts than I do 

sporting events, and if we end up competing on the same basketball court, you better bring it.
                         
                         </td>
                         </tr>
                         </table>
                         
                         <p>


                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Arviso,%20Charlie11-12.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>CHARLIE ARVISO</b>
                         <b><i>Senior Account Executive</i> | (213) 742-7544 | <a href="mailto:carviso@clippers.com">carviso@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> Originally Drafted June 1, 1998
                         <b>Hometown:</b> Big Bear Lake, CA
                         <b>Alma Mater:</b> University of La Vern
                         <b>Favorite Clippers Moment:</b> The inevitable move from the beloved Sports Arena to the "State of the Art" STAPLES Center 10 seasons ago. A lot 

has changed since our first game here in 1999.
<b>3 Things About Me:</b> I enjoy live music, BBQing my own creations and spending time with family and friends.
<BR> 
                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         <p>
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Lewis,%20Christian1213.jpg" 

width="150" alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>CHRISTIAN LEWIS</b>
                         <b><i>Account Executive</i> | (213) 763-4651 | <a href="mailto:clewis@clippers.com">clewis@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> July, 2006
                         <b>Hometown:</b> Santa Cruz, CA
                         <b>Alma Mater:</b> UCLA
                         <b>Favorite Clippers Moment:</b> Opening night every year.
                         <b>3 Things About Me:</b> I enjoy all forms of auto racing Nascar, Indy Car and Formula One. I also enjoy freelance writing for magazines and 

independent newspapers. I graduated from UCLA after playing baseball for 5 seasons.
                         </td>
                         </tr>
                         </table>
                         
                         
                   
                         
                         
                         
                         <p>
                         
                      
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         
                                  
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/De%20La%20Torre,%20Daniel1213.jpg" 

width="150" alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>DANIEL DE LA TORRE</b>
                         <b><i>Account Executive</i> | (213) 763-4652 | <a href="mailto:ddelatorre@clippers.com">ddelatorre@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> February 8, 2010
                         <b>Hometown:</b> Southgate, CA
                         <b>Alma Mater:</b> Dominguez High School
                         <b>Favorite Clippers Moment:</b> Last year’s 1st playoff home game, the energy in the building was AWESOME!
                         <b>3 Things About Me:</b> I love to watch live Boxing & MMA fights & I also love taking mini-vacations to Las Vegas.


                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         
                         <p>
                         
                      
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                         


    
            

                
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Kealey,%20Tyler1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>TYLER KEALEY</b>
                         <b><i>Account Executive</i> | (213) 763-4650 | <a href="mailto:tkealey@clippers.com">tkealey@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> September 23, 2010
                         <b>Hometown:</b> Mount Kisco, NY
                         <b>Alma Mater:</b> CSUN
                         <b>Favorite Clippers Moment:</b> Signing Chris Paul and seeing his first Lob to Blake Griffin!
                         <b>3 Things About Me:</b> I like not only working for an organization in the NBA, but playing the game as well. I also enjoy eating broccoli and other 

vegetables that could help me achieve my goal to be tall enough to play in the NBA!<BR>


                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         
                         <p>
                         
                      
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                       


     
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Bascara,%20Jessica1213.jpg" 

width="150" alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>JESSICA BASCARA</b>
                         <b><i>Account Executive</i> | (213) 742-7547 | <a href="mailto:jbascara@clippers.com">jbascara@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> October 11, 2010
                         <b>Hometown:</b> Fairfield, CA
                         <b>Alma Mater:</b> California State University, Long Beach <b><em>GO BEACH!</em></b>
                         <b>Favorite Clippers Moment:</b> Watching fans run from the main concourse back into the arena when we went into Double OT vs. Washington Wizards 

in the 2010-2011 season.
                         <b>3 Things About Me:</b> I'm 'Team S.F.' (49ers & Giants), I love spending my free time with my family, friends, & sorority sisters (Sigma Gamma Rho 

Sorority, Inc.) & I love Disneyland! <BR>


                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         
                         <p>
                         
                      
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>
                       


                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Elliott,%20Luke1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>LUKE ELLIOTT</b>
                         <b><i>Account Executive</i> | (213) 763-4618 | <a href="mailto:lelliott@clippers.com">lelliott@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> October 11, 2010
                         <b>Hometown:</b> Santa Clarita, CA
                         <b>Alma Mater:</b> Mount Marty College
                         <b>Favorite Clippers Moment:</b> When we hosted Game 3 of the first round this past season. It was incredible to feel the energy inside the arena – 

everything was new and exciting.
                         <b>3 Things About Me:</b> I am a diehard St. Louis Cardinals fan, enjoy going to as many sporting events as possible, and I love Mexican food.


                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         
                         <p>
                         
                      
                         
                         <hr width=100% align=left color="#e1e1e3" size=1>


                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Novak,%20Alexandra1213.jpg" 

width="150" alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>ALEXANDRA NOVAK</b>
                         <b><i>Account Executive</i> | (213) 742-7503 | <a href="mailto:anovak@clippers.com">anovak@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> January 4, 2011
                         <b>Hometown:</b> Agoura Hills, CA
                         <b>Alma Mater:</b> San Diego State University-Bachelors, Indiana University-Masters
                         <b>Favorite Clippers Moment:</b> The day I walked into the press room for my first game as a Clippers employee and no longer as a family member of 

an employee, it was a very different experience from what I can remember at the age of 10. 
                         <b>3 Things About Me:</b> love watching and competing in sports. My favorite place is the beach (specifically Tel Aviv  beach in Israel, or Whitsunday 

Island beach in Australia, though I guess Zuma will suffice). And above all I am a second generation Clippers employee!<BR>



                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         
                         
                         
                      
                         <hr size=1 color="#e1e1e3" align=left width=100%>
                         <font size=2 color="#E1003A"><b>GROUP EVENTS DEPARTMENT</b></font>
<hr size=1 color="#e1e1e3" align=left width=100%>

                      
                         
                      
                    
                         

                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Hall,%20Ashley1011.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>ASHLEY HALL</b>
                         <b><i>Director of Group Sales and Ticket Analytics</i> | (213) 763-2673 | <a href="mailto:ahall@clippers.com">ahall@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> August 1, 2007
                         <b>Hometown:</b> Lompoc, CA
                         <b>Alma Mater:</b> University of La Verne (BA), Pepperdine (MBA)
                         <b>Favorite Clippers Moment:</b> Selling out the building by booking over 5,000 group tickets for a Sunday afternoon game in January 2009.  It was full of 

energy in STAPLES and we beat the visiting team (during one of our more challenging seasons).
                         <b>3 Things About Me:</b> I love to dance. I'm very proud of my garden. MS Excel is my favorite computer program ever.  <BR>



                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         
                         <p>

  <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Kimball,%20Lauren1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>LAUREN KIMBALL</b>
                         <b><i>Group Events Coordinator</i> | (213) 763-4617 | <a href="mailto:lkimball@clippers.com">lkimball@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> June 30, 2008
                         <b>Hometown:</b> Colorado Springs, CO
                         <b>Alma Mater:</b> University of La Verne
                         <b>Favorite Clippers Moment:</b>Going on a road trip with the team to Sacramento. 
                         <b>3 Things About Me:</b> I love my dog Charlie, the Denver Broncos and junk food. <BR>



                         
                         </td>
                         </tr>
                         </table>
                         
                         
                         
                         <p>
     

  <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Eisen,%20Brad1213.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>BRAD EISEN</b>
                         <b><i>Group Sales Supervisor</i> | (213) 763-4616 | <a href="mailto:beisen@clippers.com">beisen@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> June 30, 2008
                         <b>Hometown:</b> Beaumont, TX
                         <b>Alma Mater:</b> THE INDIANA UNIVERSITY (at Bloomington)
                         <b>Favorite Clippers Moment:</b> Baron Davis' game winning fade-away jump shot versus Boston in December 2010, thus coining the famous twitter 

trend #BARONDAVISFORTHEWIN
                         <b>3 Things About Me:</b> I have the best hands in the office (can catch anything), am an avid doodler, and proud collector of college basketball shorts. 

<BR>


                         
                         </td>
                         </tr>
                         </table>

                         <p>
     

  <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Yee,%20Victor11-12.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>VICTOR YEE</b>
                        <b><i>Group Events Specialist</i> | (213) 763-2671 | <a href="mailto:vyee@clippers.com">vyee@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> December 15, 2008
                         <b>Hometown:</b> Montebello, CA
                         <b>Alma Mater:</b> Cal State Long Beach
                         <b>Favorite Clippers Moment:</b> Our win over the Miami Heat during the 2010-11 season.
                         <b>3 Things About Me:</b> 1. Big music fan 2. Used to be a shoe collector 3. Find humor in a lot of things.<BR>

                         
                         </td>
                         </tr>
                         </table>

                         <p>
     

  <hr width=100% align=left color="#e1e1e3" size=1>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img src="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/clippers/staff/Baker,%20Maurice1011.jpg" width="150" 

alt="" /></a></td>
                         <td valign=top>
                         
                         <font color="#003399" size=2><b>MAURICE BAKER</b>
                        <b><i>Group Events Specialist</i> | (213) 742-7540 | <a href="mailto:mbaker@clippers.com">mbaker@clippers.com</a></font></b>
                         <b>Clippers Signing Day:</b> August 6, 2009
                         <b>Hometown:</b> East Palo Alto, CA
                         <b>Alma Mater:</b> Chico State University
                         <b>Favorite Clippers Moment:</b> Watching Blake Griffin dunk on Danilo Galinari and Timofey Mozgov from the New York Knicks.<BR>
                         <b>3 Things About Me:</b> I love music, basketball, and going to the movies. Oh, and I will beat you in Apples to Apples. <BR>

                         
                         </td>
                         </tr>
                         </table>




  <hr width=100% align=left color="#e1e1e3" size=2>







<BR>
                         <BR>
                         
                         <table width=100% align=center>
                         <tr>
                         <td width=110 valign=top><img border="0" title="" src="/clippers/media/STAPLES_Center_vert_200.gif" width="110"></td>
                         <td valign=top>
                         
                         <font color="#003399"><b>STAPLES CENTER</b></font><BR>
                         1111 S. Figueroa St., Suite 1100
                         Los Angeles, CA, 90015
                         Business: (213) 742-7500
                         Ticket Information: (888) 895-8662
                         </td>
</tr>

 <tr>
                         <td width=110 valign=top><img border="0" title="" src="/clippers/media/logo.png" width="100"></td>
                         <td valign=top>
                          
                       
                         <font color="#003399"><b>LOS ANGELES CLIPPERS TRAINING CENTER</b></font><BR>
                         6951 S. Centinela Ave.
                         Playa Vista, CA 90094
                         Business: (310) 862-6000
                          
                  </td>
</tr>
        
                          
                                <td width=110 valign=top><img border="0" title="" src="/clippers/media/logo.png" width="100"></td>
                         <td valign=top>
                          
                          
                         <font color="#003399"><b>KEY PHONE NUMBERS</b></font>
                         <b>Staples Center Event Hotline:</b>  (877) 305-1111
                         <b>TDD-TTY:</b>  (213) 742-7889
                         <a href="http://www.staplescenter.com">www.staplescenter.com</a>
                         
                         </td>
                         </tr>
                         </table>
                         
                          
                        
                          
                         <BR>
                         
                         
                         </td></tr>
                         
                         </table>